<form>
  <div class="form-group">
    <label for="amazonid">Amazon Id</label>
    <input type="text" class="form-control" id="amazonid" placeholder="URL" name="id">
    <input class="btn btn-default" type="button" value="Search" id="search_btn">
  </div>
</form>
<div class="container">
  <div class="title">
  </div>
  <div class="price">
  </div>
  <div class="old_prices">
  </div>

</div>
