<br/>
<div class="row">
  <div class="col-lg-7">
  <input type="text" class="form-control pull-left" id="amazonid" placeholder="URL" name="id">
  </div>
  <div class="col-lg-1">
    <input class="btn btn-default pull-right" type="button" value="Search" id="search_btn">
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
  <h1> Amazon results </h1>
    <div class="title">
    </div>
    <div class="price">
    </div>
    <div class="old_prices">
    </div>
  </div>

  <div class="col-lg-6">
    <h1> Ebay results </h1>
  </div>
</div>
