br/
.row
  .col-lg-7
    input#amazonid.form-control.pull-left name="id" placeholder="URL" type="text" /
  .col-lg-1
    input#search_btn.btn.btn-default.pull-right type="button" value="Search" /
.row
  .col-lg-6
    h1 Amazon results
    .title
    .price
    .old_prices
  .col-lg-6
    h1 Ebay results
